.promotext {
    font-size: 17px;
}

.promocredits {
    font-weight: bold;
}

.winbutton {
    background-color: #d7d5d5;
    font-family: 'europa', sans-serif;
    color: #000;
    padding: 14px 40px;
    margin: 1vh 0;
    display: inline-block;
}

.promosubtitle {
    height: 100px;
    max-width: 288px;
    margin: 1vh 0;
}

.promologo {
    max-width: 94px;
    display: block;
    margin-bottom: 1vh;
}

.shoplink {
    color: #000;
    font-size: 16px;
}

.promomodal {
    margin-left: auto;
    margin-right: auto;
    max-width: 493px;
}

.caption {
    font-size: 21px;
    margin-top: 1vh;
    text-align: center;
    color: #999;
}

.singleimage img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.doubleimage {
    height: auto;
    display: block;
}

.doubleimage img {
    max-width: 100%;
    display:inline;
}



@media only screen and (min-width: 601px) {
    .doubleimage img {
        width: 48%;
        margin-left: 0;
        padding: 0 1px;
    }
}

.section5texture {}

.tall img {
    max-width: 460px;
    height: auto;
    margin: auto;
    display: block;
}

.wide img {
    width: 90%;
    margin: auto;
}

.sepcopy {
    float: left;
    font-size: 20px;
    text-align: justify;
        margin: 0 4vw;
}



section {
    margin-bottom: 8vh;
}

//section7

.section7 img{

}

.formelements{
    font-family: 'europa', sans-serif;
    font-style: italic;

}

.formelements h2 {
    font-size: 16px;
    line-height: 26px;
    font-family: 'europa', sans-serif;
    width: 484px;
    text-align: justify;
    font-weight: normal;
}






//form stuff below


.formtitle span {
    text-transform: uppercase;
}

.formelements h1 {
    font-style: italic;
    font-size: 30px;
}

.textinputs {
    padding-top: 1vh;
    font-style: italic;
    width: 100%;
    min-width: 420px;
    max-width: 480px;
}

input[type="checkbox"] {
    display: none;
}

.textinputs input {
    display: block;
    margin: 1vh 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    padding-bottom: 15px;
    padding-left: 23px;
    padding-top: 6px;
    font-size: 17px;
    font-style: italic;
}

label {
    display: inline;
    font-weight: normal;
    font-size: 12px;
}

.formelements{
        max-width: 538px;
    margin: 0 auto;
}


.formboxes {
    font-family: 'europa', sans-serif;
}

.formboxes input {
    //display: none;
    /* width: 100%; */
    max-width: 620px;
    margin: 10px auto 10px auto;
    font-family: 'europa', sans-serif;
    font-size: 14px;
}


.customCheck {
    
    margin: 20px 0px;
    position: relative;
}

.customCheck label span{
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
}

.customCheck label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 7px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/**
 * Create the hover event of the tick
 */

.customCheck label span:hover::after {
    opacity: 0.5;
}


/**
 * Create the checkbox state for the tick
 */

.customCheck input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.customCheck p {
  margin-left:34px;
}

.cnp {
    height: 100%;
    width: 100%;
    font-family: 'minion-pro', serif;
    color: #1a1a1a;
    -webkit-text-size-adjust: 100%;
}

.checkitem {
    display: block;
}

.formsubmit {
    font-weight: 600;
    line-height: 54px;
    font-size: 16px;
    width: 200px;
    margin: 20px auto;
    background-color: #f7f7f7;
    color: #999;
    font-style: italic;
        display: block;
}


.formboxes label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 1px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

