div{
    overflow-x: hidden;
}

.section2 a{
    text-decoration: none;
}
.promotitle{
    text-transform: uppercase;
}

.promosubtitle {
    max-width: 288px;
    line-height: 43px;
    font-size: 44px;
    font-style: italic;
    height: 100px;
    margin: 1vh 0;
}

p.promosubtitle span {
    display: block;
    text-transform: uppercase;
    font-style: normal;
    font-family: 'europa', sans-serif;
}
.promotext {
    font-size: 17px;
}

.promocredits {
    font-weight: bold;
}






.winbutton {
    background-color: #d7d5d5;
    font-family: 'europa', sans-serif;
    color: #000;
    padding: 14px 40px;
    margin: 1vh 0;
    display: inline-block;
}

.promologo {
    max-width: 94px;
    display: block;
    margin-bottom: 1vh;
}

.shoplink {
    color: #000;
    font-size: 16px;
}

.promomodal {
    margin-left: auto;
    margin-right: auto;
    max-width: 493px;
}

.caption {
    font-size: 24px;
    margin-top: 1vh;
    text-align: center;
    color: #999;
}
.section4 p{
    display:inline;
}

.paragraphtext{
        padding: 60px 30px;
}

.row p {
        font-size: 18px;
    line-height: 28px;
    text-align: justify;
}
.row p span{
    display: inline;
    font-size: 50px;
    float: left;
    padding: 10px;
    margin: 2px 0 0 -12px;
}

.section4 {
    margin-bottom: 2vh;
}

.section4 img{}

.section5texture {
    z-index: -5;
    height: 50vh;
    width: 66%;
    margin-top: -41vh;
    position: absolute;
    margin-left: 32%;

}



.singleimage img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.doubleimage {
    height: auto;
    display: block;
}

.doubleimage img {
    max-width: 100%;
    display:inline;
}



@media only screen and (min-width: 601px) {
    .doubleimage img {
        width: 48%;
        margin-left: 0;
    }

    .rightimage {
        padding-left:18px;
    }
}

.section5texture {}

.tall img {
    max-width: 460px;
    height: auto;
    margin: auto;
    display: block;
}

.wide img {
    width: 90%;
    margin: auto;
}

.sepcopy {
    float: left;
    font-size: 23px;
    text-align: center;
    margin: 12vh 4vw;
}



section {
    margin-bottom: 8vh;
}

//section7

.section7 img{
    width:70%;

}

.sec7rightimage{
        margin: 0 -30% -150px 30%;
}

.section11 img{
    width: 60%;
    margin-left: 4vw;
}

.sec11rightimage{
        margin: 0 -30% -400px 30%;
}



.section12 {
    width: auto;
    text-align:center;

}

.formelements{
    font-family: 'europa', sans-serif;
    font-style: italic;
    display: inline-block;
}

.formelements h2 {
    font-size: 16px;
    line-height: 26px;
    font-family: 'europa', sans-serif;
    width: 484px;
    text-align: justify;
    font-weight: normal;
}






//form stuff below



.formtitle{
    font-family: 'minion-pro', serif
}

.formtitle span {
    text-transform: uppercase;
}

.formelements h1 {
    font-style: italic;
    font-size: 30px;
    margin-bottom: 1.8vh;
    font-weight: normal;
}

.formelements h2 {
    font-size: 15px;
    line-height: 20px;
    font-family: 'europa', sans-serif;
    width: 461px;
    text-align: justify;
    margin-top: 1vh;
    font-style: normal;
}

.textinputs {
    padding-top: 1vh;
    padding-bottom: 2vh;
    font-style: italic;
    width: 100%;
    min-width: 420px;
}

input[type="checkbox"] {
    display: none;
}

.textinputs input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    padding-bottom: 1.5vh;
    padding-left: 23px;
    padding-top: 1vh;
    font-size: 17px;
    font-style:italic;
    font-family: 'minion-pro', serif;
}

label {
    display: inline;
    font-weight: normal;
    font-size: 12px;
}

.formboxes {
    font-family: 'europa', sans-serif;
    color: #999;
        margin-top: 2vh;
}

.formboxes input {
    //display: none;
    /* width: 100%; */
    max-width: 620px;
    margin: 10px auto 10px auto;
    font-family: 'europa', sans-serif;
    font-size: 14px;
}

.customCheck {
    position: relative;
}

.customCheck label span {
    cursor: pointer;
    position: absolute;
    width: 21px;
    height: 17px;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
    margin-top: 12px;
}

.customCheck label:after {
    opacity: 0.0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 7px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top:12px;
}


/**
 * Create the hover event of the tick
 */

.customCheck label span:hover::after {
    opacity: 0.5;
}


/**
 * Create the checkbox state for the tick
 */

.customCheck input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.customCheck p {
    margin-left: 34px;
    text-align: justify;
}

.cnp {
    height: 100%;
    width: 100%;
    font-family: 'minion-pro', serif;
    color: #1a1a1a;
    -webkit-text-size-adjust: 100%;
}

.checkitem {
    display: block;
}

.center {
    text-align: center;
}

.submit{
    margin-top:1vh;
}

.formsubmit {
    font-weight: 600;
    line-height: 4vh;
    font-size: 16px;
    width: 152px;
    margin-top: 0.4vh;
    background-color: #f7f7f7;
    color: #999;
    font-style: italic;
    display: inline-block;
        text-align: center;
}

.formboxes label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    z-index: 0;
    border: 1px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
    margin-top:12px;
}

.social{
    margin-top: 1.5vh;
}

.social [class*="fa fa-"] {
    background-color: #333;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
}

.social img {
    width: 52px;
    height: 32px;
    margin-left: 4vh;
}

.socialtext span{
    margin-left: 4vh;
}

//
.section13{
    margin-bottom:0;
}
.endtexture img{
        width: 100%;
    height: 200px;
    display: block;
}
